[Unit]
Description=Run a the ROS2 node with xsens node
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=10
Environment="HOME=root"
WorkingDirectory=/home/root/
ExecStart=/bin/bash /usr/bin/put-xsens-autostart.bash

[Install]
WantedBy=multi-user.target
